[Unit]
Description=Sentinel Dashboard API Service
After=network.target postgresql.service

[Service]
Type=simple
User=deji
WorkingDirectory=/opt/sentinel/apps/api
ExecStart=/usr/bin/node --max-old-space-size=100 dist/index.cjs
Restart=always
RestartSec=5
EnvironmentFile=/opt/sentinel/apps/api/.env
MemoryHigh=120M
MemoryMax=150M

[Install]
WantedBy=multi-user.target
