[Unit]
Description=Sentinel Discord Bot Service
After=network.target postgresql.service

[Service]
Type=simple
User=deji
WorkingDirectory=/opt/sentinel/apps/bot
ExecStart=/usr/bin/node --max-old-space-size=140 dist/index.cjs
Restart=always
RestartSec=5
EnvironmentFile=/opt/sentinel/apps/bot/.env
MemoryHigh=150M
MemoryMax=180M

[Install]
WantedBy=multi-user.target
